
.table-wrap {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.member-table {
    border: 1px solid #ddd;
    width: 100%;
    border-spacing: 0;
    font-family: cursive;
}
.member-table thead tr{
    text-align: left;
}
.member-table thead th, .member-table tbody td {
    width: 50%;
    padding: 10px 8px;
}

.member-table tr:nth-child(even),.member-table thead{
    background-color: rgb(241, 201, 208);
}
